<%
function addCommas(nStr) {
    var x,
        x1,
        x2,
        rgx = /(\d+)(\d{3})/;

    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}
%>
<!DOCTYPE html>
<html>
<head>
    <title>NodeJS Status</title>
</head>
<body>
    <H1>NodeJS Status for <%=hostname%></H1>
    Server Version: node.js <%=node_version%> (<%=os_type%>/<%=os_release%>)<br>
    Server Hostname: <%=hostname%><br><hr>
    Current Time: <%=new Date(currentTime)%><br>
    <%
        if (locals.cluster_uptime) {
            var days = Math.floor(cluster_uptime / 86400),
                hrs = Math.floor((cluster_uptime % 86400) / 3600),
                mins_sec = ((cluster_uptime % 86400) % 3600),
                mins = Math.floor(mins_sec / 60),
                secs = mins_sec % 60,
                uptime = "" + (days !== 0 ? days + " day " : "")
                    + (hrs !== 0 ? hrs + " hours " : "")
                    + (mins !== 0 ? mins + " minutes " : "")
                    + (secs !== 0 ? secs + " seconds" : "");
    %>
        Server uptime: <%=uptime%><br>
    <%      
        }
    %>
    Total Requests: <%=total_requests%> - Total Traffic: <%=(total_kbs_transferred/(1000 *1000)).toFixed(2)%> GB (<%=addCommas(total_kbs_transferred.toFixed(2))%> KB)<br>
    Memory: <%=addCommas(Math.round(free_memory/1000))%> KB free - Total : <%=addCommas(Math.round(total_memory/1000))%> KB available<br>
    CPU Usage: - Load average <% os_loadavg.forEach(function (name) { %>
        &nbsp;<%=Math.round((parseFloat(name) || 0) * 100) / 100 %>&nbsp;
    <% }) %>
    <br>
    <%=Math.round(total_rps * 10) / 10 %> requests/sec - <%=Math.round(total_kbs_out * 100) / 100%> kB/second
    <%if (total_rps === 0) {%>
        <br><br>
    <%} else {%>
         -   <%=Math.round(total_kbs_out / total_rps * 100) / 100%> kB/request<br><br>
    <%}%>
    <table border='0' cellpadding='2'>
        <tr bgcolor='#000000'> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspSrv&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspPID&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspCPU&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspMEM&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspCPU/req&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspjiffy/req&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspreq/sec&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspkB/sec&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspEvents&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspConn&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspOPEN REQ&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspReq&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspTrans&nbsp</font></th> 
            <th><font face='Arial,Helvetica' color='#ffffff'>&nbspStarted&nbsp</font></th>
            <% if (has_health_info) { %>
                <th><font face='Arial,Helvetica' color='#ffffff'>&nbspState&nbsp</font></th>
                <th><font face='Arial,Helvetica' color='#ffffff'>&nbspHealth Code&nbsp</font></th>
                <th><font face='Arial,Helvetica' color='#ffffff'>&nbspHealth Time&nbsp</font></th>
            <% } %>
        </tr>
        <% var index = 0, color; %>
        <% worker.forEach(function(name) { %>
            <tr> 
                <td><%=++index%></td> 
                <td><%=name.pid%></td> 
                <td><%=name.cpu%></td> 
                <td><%=name.mem%></td> 
                <td><%=name.cpu_per_req%></td> 
                <td><%=name.jiffy_per_req%> </td> 
                <td><%=name.rps%></td> 
                <td><%=name.kbs_out%></td> 
                <td><%=name.events%></td> 
                <td><%=name.open_conns%></td> 
                <td><%=name.open_requests%></td> 
                <td><%=name.total_requests%></td> 
                <td><%=Math.round(name.kbs_transferred / 100) / 10%></td> 
                <td><%=name.start_time_format%></td>
                <% if (has_health_info) {
                    color = name.health_is_down ? 'red' : 'green';
                %>
                    <td><font color="<%=color%>"><%=(name.health_is_down ? 'Down' : 'Running')%></font></td> 
                    <td><%=name.health_status_code%></td>
                    <td><%=name.health_time_format%></td>
                <% } %>
            </tr>
    <% }) %>
    </table>
    <hr>
    <table>
        <tr><th>Srv<td>Child Server number - generation
        <tr><th>PID<td>OS process ID
        <tr><th>CPU<td>CPU usage, number of seconds
        <tr><th>MEM<td>Memory consume 
        <tr><th>CPU/req<td>CPU consumption per request 
        <tr><th>jiffy/req<td>Jiffy requests
        <tr><th>req/sec<td>Request per second 
        <tr><th>kB/sec<td>Transfer rate in Kb/s
        <tr><th>Events<td>Active events
        <tr><th>Conn<td>Open connections
        <tr><th>OPEN REQ<td>Number of open requests
        <tr><th>Req<td>Total number of requests served
        <tr><th>Trans<td>Total megabytes transferred this slot
        <tr><th>Started<td>Process started time
        <% if (has_health_info) { %>
            <tr><th>State<td>Application health
            <tr><th>Health Code<td>Application returned health code
            <tr><th>Health Time<td>Time when health information was received
        <% } %>
    </table>
    <hr>
</body>
</html>
